<% include partials/header %>
<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div id="content-container">
		
		<!--Page Title-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div id="page-title">
			<h1 class="page-header text-overflow">Dashboard</h1>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End page title-->

		<!--Page content-->
		<!--===================================================-->
		<div id="page-content">

    
		</div>
		<!--===================================================-->
		<!--End page content-->


	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<% include partials/navigation %>

</div>		
<% include partials/footer %>